.containter {
  grid-column: 4;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hiddenCheckbox {
  display: grid;
  place-items: center;
  position: relative;
  height: 32px;
  width: 100%;
  border: 1px solid #888;
}

.hiddenCheckbox:has(> input[type="checkbox"]:checked) {
  background-color: #444;
}

.hiddenCheckbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  inset: 0;
}
