.container {
  grid-column: span 3;
}
.tr {
  display: grid;
  grid-template-columns: 50% 20% 15% 15%;
  height: 1.5rem;
  min-width: 675px;
}
.table {
  width: 100%;
}
.category {
  text-transform: capitalize;
}
