.container {
  grid-column: span 3;
  grid-row: span 900;
}
.tr {
  position: relative;
  display: grid;
  grid-template-columns: 50% 20% 15% 15%;
  height: 1.5rem;
  min-width: 675px;
}
.table {
  width: 100%;
}
.category {
  text-transform: capitalize;
}

.tr:hover .removeButton {
  opacity: 1;
}

.removeButton {
  position: absolute;
  right: 0;
  height: 20px;
  width: 20px;
  border-radius: 1rem;
  background-color: red;
  border: 0;
  padding: 0;
  margin: -10px;
  opacity: 0;
  cursor: pointer;
}

@media (max-width: 750px) {
  .container {
    grid-column: span 4;
  }
}
