.slider {
  position: relative;
  overflow: hidden;
  transition: opacity 0.5s ease-out, max-height 0.3s ease-out;
}

.arrowContainer {
  display: grid;
  justify-content: center;
  position: relative;
  width: 100%;
  bottom: 0;
  background-color: black;
  border-radius: 1rem;
}
.arrowContainer:hover {
  background-color: #333;
}

.arrow {
  transform: rotate(90deg);
}

.arrowContainer:has(> input[type="checkbox"]:checked) .arrow {
  transform: rotate(-90deg);
}

.arrowCheckbox {
  position: absolute;
  width: 100%;
  height: 20px;
  opacity: 0;
}
