.container {
  padding: 1rem 2rem;
  border: 1px outset white;
  border-radius: 0.5rem;
  color: white;
  transform: translateX(100%);
  animation: 0.3s ease-out 0s forwards slidein;
}

.red {
  background-color: red;
  border-color: red;
}
.green {
  background-color: green;
  border-color: green;
}

@keyframes slidein {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
